extends layout

block content
  h1 #{title} (#{order.id})

  h2 Customer   : #{order.customer.name}
  h2 Restaurant :#{order.restaurant.name}

  p
    | Order date: #{order.createdAt}
    br
    | Order total: #{order.totalCost} € - euros
    br
    | Order status: #{order.status}
    br
    | Order items:

    table(cellpadding='4' border='1')
      thead
        tr(align='left')
          th Name
          th Quantity
          th Price
          th Total
      tbody
        each item in order.items
          tr(align='left')
            td #{item.menuItem.name}
            td #{item.quantity} pcs
            td #{item.menuItem.price} €
            td #{item.menuItem.price * item.quantity} €
