extends layout

block content
  h1 #{title} (#{order.id})

  h2 Customer   : #{order.customer.name}
  h2 Restaurant :#{order.restaurant.name}

  p
    | Order date: #{order.createdAt}
    br
    | Order total: #{order.totalCost} € - euros
    br
    | Order status: #{order.status}
    br
    | Order items:

    ul
      each item in order.items
        li #{item.menuItem.name} - #{item.quantity} -  #{item.menuItem.price}
