extends layout

block content
  h1 Restaurants by Name
  p  Welcome to #{restaurant.name}

  //testlink - #{user.name}

  p
    a(href=`/users/${restaurant.owner._id}`) #{restaurant.owner.name}
    span  owns #{restaurant.name}
